 <h1>Log in to MakersBnB</h1>

<div>
  <form action='/sessions' method='post' >
    <div style="border: 1px solid black; background-color: #ebebeb;">
      <label>Email Address
      <br />
      <input type='text' name='email' />
      </label>
      <br />
      <label>Password
      <br />
      <input type='text' name='password' />
      </label>
      <br />
      <br />
      <input type='submit' value='Log in' />
    </div>
  </form>
</div>

 