<h1>Book a Space</h1>

<%# <input value="List a Space" type="submit" /> %>

<a href='spaces/new'><button>List a Space</button></a>


<% @spaces.map do | space | %>
<br>
<%= space.name %>
<form action="/spaces/<%= space.id %>" method="get">
  <input type="submit"  value="Request Booking">
</form>
<br>
<% end %>
