 <h1>List a Space</h1>

<div>
  <form action='/create-spaces' method='post' >
    <div style="border: 1px solid black; background-color: #ebebeb;">
      <label>Name
      <br />
      <input type='text' name='space-name' />
      </label>
      <br />
      <label>Description
      <br />
      <textarea name="space-description" cols="40" rows="5">     
      </textarea>
      </label>
      <br />
      <label>Price per night (£)
      <br />
      <input type='text' name='space-price' />
      </label>
      <br />
      <br />
      <input type='submit' value='List my Space' />
    </div>
  </form>
</div>